<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Trombinoscrope", root_path, class:"navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <% if user_signed_in? %> <%#methode disponible avec Devise%>
        <li><%= link_to current_user.email, show_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li><%#method: :delete ->obligatoire, log out et va sur la page d'accueil%>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
